body{
  background-color: #16a085;
     color: white;
     font-family: Arial;
     margin: 0;
     padding: 0;
}

.contenant{
     
     background-color: #005746;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 40%;
     box-shadow: 0px 10px 70px black;
     -webkit-box-shadow: 0px 10px 70px black;
     -o-box-shadow: 0px 10px 70px black;
     -moz-box-shadow: 0px 10px 70px black;
     
}

h1{
     font-size: 65px;
}

